<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
           <div class="card-body">
           <div class="card-title">Edit Admin</div>
           <hr>
            <form method="post" action="{% url 'updateproduct' dataid=data.id %}" enctype="multipart/form-data">
                {% csrf_token %}
          <div class="form-group">
                        <label for="exampleSelectGender">Category</label>
                        <select class="form-control form-control-rounded" id="exampleSelectGender" name="category">
                            <option>select</option>
                            {% for d in da %}
                            <option>{{ d.Name }}</option>
                          {% endfor %}
                        </select>

                      </div>
           <div class="form-group">
            <label for="input-7">Name</label>
            <input type="text" class="form-control form-control-rounded" id="input-7" placeholder="Enter Product Name "name="name" value="{{ data.Name }}">
           </div>

           <div class="form-group">
            <label for="input-9">Description</label>
            <input type="text" class="form-control form-control-rounded" id="input-1" placeholder="Enter Description" name="description" value="{{ data.Description }}">
           </div>
                <div class="form-group">
            <label for="input-9">Price</label>
            <input type="text" class="form-control form-control-rounded" id="input-2" placeholder="Enter Price" name="price" value="{{ data.Price }}">
                </div>
                <div class="form-group">
            <label for="input-9">Quantity</label>
            <input type="text" class="form-control form-control-rounded" id="input-9" placeholder="Enter Quantity" name="quantity" value="{{ data.Quantity }}">
                </div>

                <div class="form-group">
                    <label for="input-11">File upload</label>
                    <img src="{{data.Image.url}}" width="200px" height="200px">
                    <input type="file" class="form-control form-control-rounded" id="input-11" placeholder="file upload" name="image" >
                </div>
                <div class="form-group">
                    <form method="post"action="{% url 'productsave' %}">
                    <button class="btn btn-light" type="submit"> submit</button>
                        </form>
                </div>

</body>
</html>
{% endblock %}